gls/.vs/
gls/Debug/
gls/ipch/
gls/Release/
gls/x64/
gls/gls.VC.db
gls/gls.VC.VC.opendb
gls/gls/Debug
gls/gls/Release
gls/gls/x64
gls/Report20191216-1848.vspx
gls/Report20191216-1921.vspx
gls/gls/~AutoRecover.gls.vcxproj